body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image:linear-gradient(green, orange);
}
.header{
    background: white;
    color: black;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}
button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}
.footer{
    position: fixed;
    background-color: aliceblue;
    color: grey;
    bottom: 0%;
    width: 100%;
    font-size: 18px;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px grey;
}